.cabeçalho{background-color:rgb(0, 255, 255); color: rgb(29, 250, 0); display: flex; justify-content: space-around;}
.imagem-logo{width: 750px;}
.cabeçalho-lista{display: inline-block; margin: 0 16px; }
.site{background-color: rgb(0, 255, 213);(255, 255, 255, 0.671);}
.imagem-motores{width: 500px; height: 400px;}